/* src/styles/Navbar.css */
.bg-purple { background-color: #5d3a9b !important; }
.navbar-brand { font-family: 'Bricolage Grotesque', sans-serif; }
.nav-link { font-family: 'Bricolage Grotesque', sans-serif; }
